#map-grid {
    padding: 0;
}

#map-panel {
    width: 100%;
    padding: 20px;
}

#map-panel__title {
    text-align: right;
    color: white;
}

#map-panel-title h1 {
    
}

#map {
    height: 650px;
    width: 100%;
}

#map-panel {
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    #map {
        height: 500px;
    }

    #map-panel-title {
        display: none;
    }
}